extend layout
block title
  - var title='Home'
block content
  h2 Powerful Features
  ul
    li
      a(href='loops.html') Loops
    li
      a(href='javaScript.html') JavaScript
    li
      a(href='interpolation.html') Interpolation
    li
      a(href='mixins.html') Mixins
