extend layout
block title
  - var title='Home'
block content
  h2 Powerful Features
  ul
    li.pug-lists
      a.pug-links(href='javaScript.html') JavaScript
    li.pug-lists
      a.pug-links(href='interpolation.html') Interpolation
    li.pug-lists
      a.pug-links(href='conditionals.html') Conditionals
    li.pug-lists
      a.pug-links(href='loops.html') Loops
    li.pug-lists
      a.pug-links(href='mixins.html') Mixins
