extend layout
block title
  - var title='JavaScript'
block content
  h2 JavaScript
  - var x = 5;
  div
    ul.table
      - for (var i=1; i<=10; i++) {
          - var product = x * i;
          li #{i} * #{x} = #{product}
      - }
  div.note Multiplication using JavaScript in Pug