doctype html
html
 head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  block title
  title #{title}
  block script
    script(type="text/javascript" src="../js/jquery-1.12.4.min.js")
  link(rel="stylesheet" type="text/css" href="../css/style.css")
  include mixins  
 body
  include header
  .page-wrapper  
    .page-content
      block content
  include footer  
